body *{
    border-radius: 0px !important;
}
.chat{
    width: 300px;
    height: 400px;
    right: 10px;
    margin-left: 10px;
    /*background-color: red; */
    bottom: 0px;
    bottom: 10px;
    border: 2px solid #e3e3e3;
}